*{
    margin: 0;
    padding: 0;
}
.head
{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(head.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.head h1{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10vh;
}
.gl{

    height: 110vh;
    width: 100%;
    color:white ;
   background-color:white;

    position: absolute;
  }
  .depa
  {
    height: 90vh;
    width: 100%;
    color: white;
   background-color:white;
   top: 60vh;
    position:relative;
  }
  .dep
  {
    height: 350px;
    width: 350px;
    background-color: white;
    position:relative;
    left: 70px;
    margin-left:20px ;
    margin-top: 20px;
    border: 1px solid black;
   

  }
  .dep:hover
  {
    box-shadow: 2px 13px 25px -10px rgba(0,0,0,0.75);
  }
  .pic{
    height: 200;
    width: 350px;
    background-color: blue;
    position: relative;

   }
   .pic img
   {
    height: 200;
    width: 350px;
   }
  .tex
  {
    height: 50px;
    width: 350px;
    background-color:whitesmoke;
    position: relative;
  }
  .e
{
  color:black;
 background-color: whitesmoke;
 padding-left: 10px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.f 
{
 
  padding-left: 40px;
  position:relative;
  padding-top: 10px;
  background-color: whitesmoke;
}
.f h2
{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
}
.mk
{

 float: center;
  position: absolute;
  padding: 10px;
  font-size: 15px;
  top: 76px;
  cursor: pointer;
  outline: transparent;
  left: 120px;
  border: transparent;
  border-radius: 20px;
  transition: 0.6s;
  color: aliceblue;
  background-color: black;
}
.mk:hover
{
    background-color:white;
    color: black;
    box-shadow: 0px 7px 21px -8px black;

}
